.transfer-fund {
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.26);
	width: 24rem;
	padding: 40px;
	min-height: 20rem;
	margin: 0 auto;
	margin: 1rem;
	input {
		width: 100%;
		margin: 1rem;
		display: block;
	}
	button {
		display: block;
		width: 14rem;
		text-align: center;
		padding: 10px;
	}
}
