@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&display=swap');
* {
	box-sizing: border-box;
}

html {
	font-family: OpenSans, sans-serif;
	font-size: 16px;
	scroll-behavior: smooth;
	background-color: $clr2;
	margin: 0 auto;
	background-image: url('../../img/bg-curve-desktop.svg');
	background-repeat: no-repeat;
	background-position: bottom left;
	background-size: 140vw 30vh;
	// background-size: co;
	background-blend-mode: soft-light;
	background-attachment: fixed;
	color: rgb(240, 240, 240);
	letter-spacing: 0.3px;
}


body {
	margin: 0;
	overflow: auto;
	min-height: 100vh;
}

img {
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	font-weight: normal;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
	&:hover {
		text-decoration: underline;
	}
}

button {
	font-family: inherit;
	cursor: pointer;

	* {
		pointer-events: none;
	}
}

li {
	list-style: none;
}

input {
	font-family: inherit;
	text-align: inherit;
}

// MAC like scrollbar
::-webkit-scrollbar {
	width: 8px;
	background-color: rgba(0, 0, 0, 0);
	-webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
	background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
	background: rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical:active {
	-webkit-border-radius: 100px;
}
button{
	margin-top: 2rem;
	font-family: 'Open Sans', sans-serif;
	background-color: $clr4;
	padding: 10px 6rem;
	color: $clr2;
	border: 3px solid $clr4;
	font-weight: 600;
	letter-spacing: 2px;
	font-size: 1.3rem;
	border-radius: 30px;
	outline: none;
}

input[type="text"], input[type="number"],input[type="tel"],input[type="email"] {
	margin-left: 1rem;
	margin-right: 1rem;
	text-align: left;
	width: 30%;
	border: 3px solid $clr4;
	padding: 15px 1rem;
	height: 20px;
	border-radius: 5px 0 0 5px;
	outline: none;
	color: gray;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
  }
  
  input:focus{
	color: rgb(57, 57, 57);
	font-weight: bold;
  }