@import "../../assets/scss/setup/variables";
@import "../../assets/scss/setup/functions";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.contact-page {
	margin: 0 auto;
	text-align: center;
	margin-top: 3rem;
}
